# coding: utf-8

"""
    MarketSharp CRM API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: v1
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from openapi_client.api_client import ApiClient
from openapi_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class FieldTextChoicesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def field_text_choices_get_field_text_choices(self, field_name, active_only, company_id, **kwargs):  # noqa: E501
        """List Field Text Choices.  # noqa: E501

        Returns a list of field text choices based on the field name that is passed.  For example, to return payment types pass in the string \"PaymentType\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.field_text_choices_get_field_text_choices(field_name, active_only, company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str field_name: This field is not case sensitive.  Name of the field to display text choices for. ie) paymenttype or paymentmethod. (required)
        :param bool active_only: Optional parameter.  Defaults to true if the parameter is omitted from the request.  Set to false to return all active and inactive records.  True will return active records only. (required)
        :param str company_id: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[KeyValueResourceModel]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.field_text_choices_get_field_text_choices_with_http_info(field_name, active_only, company_id, **kwargs)  # noqa: E501

    def field_text_choices_get_field_text_choices_with_http_info(self, field_name, active_only, company_id, **kwargs):  # noqa: E501
        """List Field Text Choices.  # noqa: E501

        Returns a list of field text choices based on the field name that is passed.  For example, to return payment types pass in the string \"PaymentType\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.field_text_choices_get_field_text_choices_with_http_info(field_name, active_only, company_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str field_name: This field is not case sensitive.  Name of the field to display text choices for. ie) paymenttype or paymentmethod. (required)
        :param bool active_only: Optional parameter.  Defaults to true if the parameter is omitted from the request.  Set to false to return all active and inactive records.  True will return active records only. (required)
        :param str company_id: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[KeyValueResourceModel], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'field_name',
            'active_only',
            'company_id'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method field_text_choices_get_field_text_choices" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'field_name' is set
        if self.api_client.client_side_validation and ('field_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['field_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `field_name` when calling `field_text_choices_get_field_text_choices`")  # noqa: E501
        # verify the required parameter 'active_only' is set
        if self.api_client.client_side_validation and ('active_only' not in local_var_params or  # noqa: E501
                                                        local_var_params['active_only'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `active_only` when calling `field_text_choices_get_field_text_choices`")  # noqa: E501
        # verify the required parameter 'company_id' is set
        if self.api_client.client_side_validation and ('company_id' not in local_var_params or  # noqa: E501
                                                        local_var_params['company_id'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `company_id` when calling `field_text_choices_get_field_text_choices`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'field_name' in local_var_params:
            path_params['fieldName'] = local_var_params['field_name']  # noqa: E501
        if 'active_only' in local_var_params:
            path_params['activeOnly'] = local_var_params['active_only']  # noqa: E501
        if 'company_id' in local_var_params:
            path_params['companyId'] = local_var_params['company_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/json', 'application/xml', 'text/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/companies/{companyId}/fieldtextchoices/{fieldName}/{activeOnly}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[KeyValueResourceModel]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
