{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "MarketSharp CRM API"
  },
  "host": "restapi1aws.marketsharpm.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Retrieve a token",
        "description": "There are two ways to authenticate with this API. Application Authentication and Employee Authentication. <br />You need credentials provided by Marketsharp in order to authenticate with this API <br /><br />Application Authentication can be used access more than one Marketsharp company with the same set of credentials. <br />Employee Authentication uses your Marketsharp login credentials to authenticate to the api. Therefore, you would need to know login credentals to every marketsharp company you need access to.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "formData",
            "description": "Set to password",
            "required": true,
            "type": "string",
            "default": "password"
          },
          {
            "name": "companyId",
            "in": "formData",
            "description": "Your Marketsharp Company Id. Provide when authenticating. Takes precedence over company_id",
            "required": false,
            "type": "string"
          },
          {
            "name": "apikey",
            "in": "formData",
            "description": "Provided by MarketSharp",
            "required": true,
            "type": "string"
          },
          {
            "name": "apisecret",
            "in": "formData",
            "description": "Provide only if you authenticating as an application.",
            "required": false,
            "type": "string"
          },
          {
            "name": "empoid",
            "in": "formData",
            "description": "Provide only if you authenticating as an application.",
            "required": false,
            "type": "string"
          },
          {
            "name": "company_id",
            "in": "formData",
            "description": "Provide only if you authenticating as an employee. This parameter is deprecated and will be removed in the future. Please use companyId instead",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "Provide only if you authenticating as an employee.",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "Provide only if you authenticating as an employee.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/companies/{companyId}/activityprocesses": {
      "get": {
        "tags": [
          "ActivityProcesses"
        ],
        "summary": "List all activity processes",
        "operationId": "ActivityProcesses_GetActivityProcesses",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LeadCaptureResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/activities/process/{activityProcessId}/proposedActivities": {
      "post": {
        "tags": [
          "ActivityProcesses"
        ],
        "summary": "Returns pending activities auto-generated from activity process configuration.",
        "operationId": "ActivityProcesses_GetProposedActivities",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "activityProcessId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "RequestType for now is ProductionStep. More to come later, such as ServiceOrder.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProposedActivitiesRequestBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProposedActivityResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyid}/activitityprocessid": {
      "post": {
        "tags": [
          "ActivityProcesses"
        ],
        "summary": "Get activity process id.",
        "description": "This endpoint returns and activity process id for a given \r\n            reference id and result id. The reference id can be null if one doesn't\r\n            exist. Result id is required.",
        "operationId": "ActivityProcesses_GetActivityProcessIdFromRefAndRes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReferenceAndResultBindingModel"
            }
          },
          {
            "name": "companyid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/activities/references": {
      "get": {
        "tags": [
          "ActivityReferences"
        ],
        "summary": "Get activity references for a company.",
        "operationId": "ActivityReferences_GetActivityReferences",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityReferenceResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/activities/results": {
      "get": {
        "tags": [
          "ActivityResult"
        ],
        "summary": "Retrieve Activity Results",
        "operationId": "ActivityResult_GetActivityResults",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "(optional)",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityResultResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/activities/types": {
      "get": {
        "tags": [
          "ActivityTypes"
        ],
        "summary": "Get activity types.",
        "operationId": "ActivityTypes_GetActivityReferences",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityTypeResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/additionalcontacts/search": {
      "post": {
        "tags": [
          "AdditionalContacts"
        ],
        "summary": "Search for additional contacts",
        "description": "QuickFind - Additional Contact Search. Employee id required in bearer token.",
        "operationId": "AdditionalContacts_SearchAdditionalContacts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "additionalContact",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdditionalContactSearchBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/additionalcontacts/search": {
      "post": {
        "tags": [
          "AdditionalContacts"
        ],
        "summary": "Search for additional contacts",
        "operationId": "AdditionalContacts_SearchAdditionalContacts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "additionalContact",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdditionalContactSearchBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/salesoverview": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve the sales overview.",
        "description": "This endpoint takes 2 parameters. A boolean, determining whether to use net sales or gross sales.\r\nA value of true indicates that net sales should be used. And an array of string \r\nvalues that represent the divisions to include. <br />\r\nExample { Divisions : [\"Indoor\", \"Outdoor\", \"Unspecified\"], NetSales : false } <br />\r\nThe result will be returned as an objects as shown below with 4 properties. <br />\r\nExample {\"todaysSales\":\"$0.00\",\"yesterdaysSales\":\"$0.00\",\"mtdSales\":\"$0.00\",\"ytdSales\":\"$501.00\"}",
        "operationId": "Analytics_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/leadsgeneratedbyprimaryleadsource": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve a company's leads that are generated by primary lead source.",
        "description": "This endpoint takes 3 parameters, an array of string values that represent the divisions to include and\r\na begin date and end date to determine the range of the query.\r\n<br />\r\nExample { Divisions : [\"'Unspecified'\"], \r\n          StartDate : \"2016-04-23T18:25:43.511Z\", \r\n          EndDate : \"2016-12-23T18:25:43.511Z\" } <br />\r\nThe result will be returned as an array of objects with each object having 2 properties - \r\na value property and an argument property. <br />\r\nExample [{\"value\":8,\"argument\":\"Canvass\"},{\"value\":4,\"argument\":\"Direct Mail\"}]",
        "operationId": "Analytics_GetLeads",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/performanceratios": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve a company's performance ratios.",
        "description": "This endpoint takes 1 parameter, an array of string values that represent the divisions to include. <br />\r\nExample { Divisions : [\"Indoor\", \"Outdoor\", \"Unspecified\"] } <br />\r\nThe performance ratios will be returned as shown below. <br />\r\nExample {\"todaysPr\":\"0.0%\",\"yesterdaysPr\":\"0.0%\",\"mtdPr\":\"0.0%\",\"ytdPr\":\"115.8%\"}",
        "operationId": "Analytics_GetPerformanceRatios",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/closingratios": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve a company's closing ratios.",
        "description": "This endpoint takes 2 parameters. A boolean, determining whether to get the net closing ratios or the \r\ngross closing ratios. A value of true indicates that net sales should be used. And an array of string \r\nvalues that represent the divisions to include. <br />\r\nExample { Divisions : [\"Indoor\", \"Outdoor\", \"Unspecified\"], NetSales : false } <br />\r\nThe closing ratios will be returned as shown here. <br />\r\nExample {\"todaysCr\":\"0.0%\",\"yesterdaysCr\":\"0.0%\",\"mtdCr\":\"0.0%\",\"ytdCr\":\"15.0%\"}",
        "operationId": "Analytics_GetClosingRatios",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/divisions": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve the avaliable divisions.",
        "description": "This endpoint takes a single parameter a boolean, determining whether to include white space divisions. <br />\r\nExample { IncludeWhiteSpaceDivs : true } <br />\r\nAn array of string values will be returned <br />\r\nExample [\"Division I\",\"Location 1\",\"Indoor\",\"Outdoor\",\"Unspecified\"]",
        "operationId": "Analytics_GetDivisions",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefdivisions": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preferences for what divisions are selected for a given\r\ndashboard widget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the save preferences should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nAn array of strings will be returned containing the divisions. <br />\r\nExample [\"Division I\", \"Indoor\", \"Outdoor\", \"Unspecified\"]",
        "operationId": "Analytics_GetUserPrefDivisions",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Some response text",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefusenetvalue": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preference for the use net value of a specific widget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the saved preference should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nA boolean will be returned, which if set to True, indicates to use net and if set to False, use gross. A value of\r\nnull indicates the preference was not found for the given parameters",
        "operationId": "Analytics_GetUserPrefUseNetValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefdaterangequickpick": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preference for the date range quick pick value of a specific widget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the saved preference should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nA string will be returned",
        "operationId": "Analytics_GetUserPrefDateRangeQuickPick",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefdaterangestart": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preference for the date range start value of a specific widget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the saved preference should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nIf the preference is found, a Date will be returned representing the start range, otherwise null will be returned",
        "operationId": "Analytics_GetUserPrefDateRangeStart",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefdaterangeend": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preference for the date range end value of a specific widget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the saved preference should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nIf the preference is found, a Date will be returned representing the end range, otherwise null will be returned",
        "operationId": "Analytics_GetUserPrefDateRangeEnd",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveuserprefdivisions": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to save a users preference for the selected divisions of a given dashboard widget.",
        "description": "This endpoint requires 2 parameters. The unique identifier for the dashboard widget (GUID) and the division values (array). Ensure that \r\nany division values passed into this endpoint do not contain the character sequence \"','\" as this is used as a delimiter.<br />\r\nExample { WidgetGuid : '########-####-####-####-############', Divisions :  [\"Division I\" , \"Location 1\"]} <br />\r\nA boolean will be returned indicating the success or failure of the operation. If the value is true the operation\r\nwas successful. <br />\r\nExample { success: true}",
        "operationId": "Analytics_SaveUserPrefDivisions",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveUserPrefDateRangeQuickPick": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "operationId": "Analytics_SaveUserPrefDateRangeQuickPick",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveUserPrefDateRangeStart": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "operationId": "Analytics_SaveUserPrefDateRangeStart",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveUserPrefDateRangeEnd": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "operationId": "Analytics_SaveUserPrefDateRangeEnd",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveuserprefusenetvalue": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to save a users preference for the use net value of a specific widget.",
        "description": "This endpoint requires 2 parameters. The unique identifier for the dashboard widget (GUID) and the use net value\r\nwhich should be set to True or False (string). <br />\r\nExample { WidgetGuid : '########-####-####-####-############', PrefValue :  \"True\"} <br />\r\nA boolean will be returned indicating the success or failure of the operation. If the value is true the operation \r\nwas successful. <br />\r\nReturn Example { success: true }",
        "operationId": "Analytics_SaveUserPrefUseNetValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/salespace": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Used to retrieve a company's sales pace.",
        "description": "This endpoint takes one parameter, UseSalesPaceMonth which is a boolean. When set to true the\r\ncalculations will be performed for the current month. False results in a yearly calculation.<br />\r\nThe sales pace will be returned as shown here. All values are decimals.<br />\r\nReturn Example {   \"salesGoal\": 50000, \"sales\": 1730, \"onPaceToMake\": 5688.7387387387387387387387388,\r\n                   \"percentToDate\": 30.4, \"percentSalesGoal\": 3.5, \"efficiencySpeed\": 11.4 }",
        "operationId": "Analytics_GetSalesPace",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/userprefusemonthlyvalue": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve a users saved preference for the use monthly value of a specific widget.\r\nKnown to be used for the \r\nwidget.",
        "description": "This endpoint requires a single parameter passed in the body of the post which is the unique\r\nidentifier for the dashboard widget for which the saved preference should be retrieved. <br />\r\nExample { WidgetGuid : '########-####-####-####-############' } <br />\r\nA boolean will be returned, set to either True, False, or null. A null value indicates the preference\r\nwas not found for the user.",
        "operationId": "Analytics_GetUserPrefUseMonthlyValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/saveuserprefusemonthlyvalue": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to save a users preference for the use monthly value of a specific widget. Known to be used for\r\nthe Company Sales Pace widget.",
        "description": "This endpoint requires 2 parameters. The unique identifier for the dashboard widget (GUID) and the use monthly value\r\nwhich should be set to 'True' or 'False' (string). <br />\r\nExample { WidgetGuid : '########-####-####-####-############', PrefValue :  \"True\"} <br />\r\nA boolean will be returned indicating the success or failure of the operation. If the value is true the operation\r\nwas successful.",
        "operationId": "Analytics_SaveUserPrefusemonthlyvalue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/salespaceprereqsmet": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to determine if the neccessary data to determine the sales pace is avaliable.",
        "description": "This endpoint requires a single boolean parameter, set UseSalesPaceYear of the model to true to indicate\r\nthat the enitre year should be checked and to false to indicate that the current month should be checked. <br />\r\nExample: {UseSalesPaceYear : true}\r\nAn array of strings representing the missing months will be returned. If the array size is 0 and not null, \r\nall the required data is present. <br />\r\nReturn Example [\"2/17\", \"3/17\"]",
        "operationId": "Analytics_SalesPacePrereqsMet",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/operatingstatement": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint returns a companies operating statement.",
        "description": "This endpoint requires 7 parameters for all data to be returned correctly. <br />\r\nDivisions An array of string values that represent the divisions to include\r\nStartDate - A date indicating the start range for which to query the data. <br />\r\nEndDate - A date indicating the end range for which to query the data.<br />\r\nNumInquiries, NumApptsRun, NumApptsIssued, NumApptsPresented <br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"], StartDate : \"2016-04-23T18:25:43.511Z\", EndDate : \"2016-12-23T18:25:43.511Z\",\r\n         NumInquiries : 20, NumApptsRun : 10, NumApptsIssued : 8, NumApptsPresented : 15 } <br />\r\nAn object containing the following properties will be returned:  <br />\r\nint TotalCalls <br />\r\nint NumInquiries <br />\r\nint NumApptSet <br />\r\nint NumActivitiesConfirmed <br />\r\nint NumApptsIssued <br />\r\nint NumApptsPresented <br />\r\ndecimal TotalQuoted <br />\r\nint TotalSold <br />\r\nint GrossSalesQty <br />\r\nint NetSalesQty <br />\r\ndecimal GrossSalesDollarAmt <br />\r\ndecimal NetSalesDollarAmt <br />\r\ndecimal CanceledSales <br />\r\ndecimal FinanceRejectedSales <br />\r\ndecimal PendingSales <br />\r\ndecimal InquiriesToGrossSold <br />\r\ndecimal InquiriesToNetSold <br />\r\ndecimal ApptsToGrossSold <br />\r\ndecimal ApptsToNetSold <br />\r\ndecimal ApptsIssuedToGrossSold <br />\r\ndecimal ApptsIssuedToNetSold <br />\r\ndecimal ApptsPresentedToGrossSold <br />\r\ndecimal ApptsPresentedToNetSold <br />\r\ndecimal GrossSalesPerApptIssued <br />\r\ndecimal GrossSalesPerApptPresented <br />\r\ndecimal NetSalesPerApptIssued <br />\r\ndecimal NetSalesPerApptPresented <br />\r\ndecimal JobsCompletedQty <br />\r\ndecimal JobsCompletedDollarAmt <br />\r\ndecimal NumServiceCalls <br />\r\ndecimal NumDistinctProposals <br />\r\ndecimal MoneyReceived <br />",
        "operationId": "Analytics_GetOperatingStatement",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/performanceratiosbysalesperson": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the performance ratios for employees for a given set of divisions\r\nand in a give time period.",
        "description": "This endpoint requires the following parameters:\r\nDivisions An array of string values that represent the divisions to include\r\nStartDate - A date indicating the start range for which to query the data. <br />\r\nEndDate - A date indicating the end range for which to query the data.<br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"], StartDate : \"2016-04-23T18:25:43.511Z\", EndDate : \"2016-12-23T18:25:43.511Z\" <br />\r\nAn array of ojects with each object representing a sales person will be returned. Each object has a name property which represents\r\nthe sales persons name and a ratio property representing the performance ratio.  <br />\r\nReturn Example [{\"name\":\"Easter Bunny\",\"ratio\":111.80000000},{\"name\":\"Santa Claus\",\"ratio\":0.00000000}]",
        "operationId": "Analytics_GetPerformanceRatiosBySP",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/companyperformancestandards": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the performance standards for a company.",
        "description": "This endpoint requires no parameters. <br />\r\nAn array of ojects with each object representing a performance parameter will be returned. Each object has three properties: <br />\r\nName String The performance standard name <br />\r\nTarget int The target value of the standard <br />\r\nMinimum int The minimum value of the standard <br />\r\nReturn Example [{\"name\":\"Performance Ratio\",\"target\":125,\"minimum\":100},{\"name\":\"Presentations\",\"target\":80,\"minimum\":70}]",
        "operationId": "Analytics_GetCompanyPerformanceStandards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/closingratiosbysalesperson": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the closing ratios for employees for a given set of divisions\r\nand in a give time period.",
        "description": "This endpoint requires the following parameters:\r\nDivisions An array of string values that represent the divisions to include\r\nStartDate - A date indicating the start range for which to query the data. <br />\r\nEndDate - A date indicating the end range for which to query the data.<br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"], StartDate : \"2016-04-23T18:25:43.511Z\", EndDate : \"2016-12-23T18:25:43.511Z\"} <br />\r\nAn array of ojects with each object representing a sales person will be returned. Each object has a name property which represents\r\nthe sales persons name and a ratio property representing the closing ratio.  <br />\r\nReturn Example [{\"name\":\"Easter Bunny\",\"ratio\":12.0},{\"name\":\"Santa Claus\",\"ratio\":13.0}]",
        "operationId": "Analytics_GetSalesPersonClosingRatios",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/salespacebysalesperson": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the sales pace for a sales person.",
        "description": "This endpoint requires the following parameters:\r\nUseSalesPaceYear A boolean indicating whether to use the whole year or the current month for calculations true indicates use month. <br />\r\nExample {UseSalesPaceMonth : true} <br />",
        "operationId": "Analytics_GetSalesPersonSalesPace",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/salespacebysalespersonpreqsmet": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "operationId": "Analytics_SalesPersonPrereqsMet",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/netsalesbysalesperson": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the net sales of sales people given a set of divisions and a time period.",
        "description": "This endpoint requires the following parameters:\r\nDivisions An array of string values that represent the divisions to include\r\nStartDate - A date indicating the start range for which to query the data. <br />\r\nEndDate - A date indicating the end range for which to query the data.<br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"], StartDate : \"2016-04-23T18:25:43.511Z\", EndDate : \"2016-12-23T18:25:43.511Z\"} <br />\r\nAn array of ojects with each object representing a sales person will be returned. Each object has a name property which represents\r\nthe sales persons name and a value property representing the sales.  <br />\r\nReturn Example [{\"name\":\"Easter Bunny\",\"value\":0.00}}]",
        "operationId": "Analytics_GetSalesPersonNetSales",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/netsalescomparedtoinstalledjobs": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the net sales and the installed jobs for a given set of divisions over the course of \r\na year.",
        "description": "This endpoint requires the following parameters:\r\nDivisions An array of string values that represent the divisions to include <br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"]} <br />\r\nThe return is as shown below, however each array contains 12 'month value object pairs', 2 have been shown for simplicity. <br />\r\nReturn Example {\"netSales\":[{\"month\":\"April\",\"value\":5388.00},{\"month\":\"May\",\"value\":57100.00}], \r\n\"installedJobs\":[{\"month\":\"April\",\"value\":5000.00},{\"month\":\"May\",\"value\":0.00}]}",
        "operationId": "Analytics_GetNetSalesComparedToInstalledJobs",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/netsalescomparedtoprioryear": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "This endpoint is used to retrieve the net sales for the current year and the previous year.",
        "description": "This endpoint requires the following parameters:\r\nDivisions An array of string values that represent the divisions to include <br />\r\nExample {Divisions : [\"Indoor'\", \"'Outdoor\", \"'Unspecified'\"]} <br />\r\nThe return is as shown below, however each array contains 12 'month value object pairs', 2 have been shown for simplicity. <br />\r\nReturn Example {\"netSalesThisYear\":[{\"month\":\"April\",\"value\":5388.00},{\"month\":\"May\",\"value\":57100.00}], \r\n\"netSalesLastYear\":[{\"month\":\"April\",\"value\":5000.00},{\"month\":\"May\",\"value\":0.00}]}",
        "operationId": "Analytics_GetNetSalesComparedToPriorYear",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalyticsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/analytics/allUserPrefs/{employeeId}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "Analytics_GetAllUserPrefs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieve an appointment",
        "description": "See the Filter for appointments endpoint for more information",
        "operationId": "Appointments_GetAppointmentById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/appointments/filter": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Filter for appointments",
        "description": "The result will be returned as JSON as shown below with the following key/value pairs. <br />\r\nid: The oid representing the appointment<br />\r\ncontactId: The id of the associated contact<br />\r\ninquiryId: The id of the lead inquiry record<br />\r\nappointmentDateTime: The time the appointment is scheduled for.  Timezone is company Timezone.<br />\r\nsalesperson: The saleperson of for the appointment as set in the Salesperson 1 field<br />\r\nsalesperson2: The saleperson of for the appointment as set in the Salesperson 2 field<br />\r\ntype: The type of appointment as set in the Add/Edit Lead Appointment modal<br />\r\nsetBy: The name of the employee that set the appointment<br />\r\ndateIssued: User editable field when appointment was issued<br />\r\nresult: Appointment result<br />\r\nresultReason: The result reason for the appointment, description of what happened<br />\r\nnotes: The notes for the appointment<br />\r\naddress: The jobsite address if any part of the jobsite address is present otherwise the contact address<br />\r\naddressLine2: The jobsite address line 2 if any part of the jobsite address is present otherwise the contact address<br />\r\ncity: The jobsite city if any part of the jobsite address info is present otherwise the contact city<br />\r\nstate: The jobsite state if any part of the jobsite address info is present otherwise the contact state<br />\r\nzip: The jobsite zip if any part of the jobsite address info is present otherwise the contact zip<br />\r\ndirections: Directions to the job site address<br />\r\nlastModifiedDate: This represents the most recent last updated date when looking at all the data (each appointment) returned excluding\r\nsetBy<br />",
        "operationId": "Appointments_FilterAppointments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentsBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/appointments/results/active": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List active appointment results",
        "operationId": "Appointments_GetAppoinmentResults",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApptResultResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/appointments/resultreasons/active": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List active appointment result reasons",
        "operationId": "Appointments_GetAppointmentResultReasons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RejectReasonResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/appointments/{appointmentId}/result": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Result an appointment",
        "description": "See the Filter for appointments endpoint for more information",
        "operationId": "Appointments_ResultAppointment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApptResultBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResourceModel"
            }
          }
        }
      }
    },
    "/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieve an appointment - Deprecated",
        "operationId": "Appointments_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResourceModel"
            }
          }
        },
        "deprecated": true
      }
    },
    "/appointments/search": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Filter for appointments - Deprecated",
        "operationId": "Appointments_SearchAppointments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentsBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": true
      }
    },
    "/appointments/results": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List active appointment results - Deprecated",
        "operationId": "Appointments_ApptResults",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApptResultResourceModel"
            }
          }
        },
        "deprecated": true
      }
    },
    "/appointments/reasons": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List active appointment result reasons - Deprecated",
        "operationId": "Appointments_RejectionReasons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RejectReasonResourceModel"
            }
          }
        },
        "deprecated": true
      }
    },
    "/appointments/resultAppt": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Result an appointment - Deprecated",
        "operationId": "Appointments_UpdateApptResult",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApptResultBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppointmentResourceModel"
            }
          }
        },
        "deprecated": true
      }
    },
    "/companies/{companyId}/calendar/categories": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get all calendar categories for a company",
        "operationId": "Calendar_GetCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryResourceModel"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Calendar"
        ],
        "summary": "Update a calendar category.",
        "operationId": "Calendar_UpdateCategory",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoryResourceModel"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Create a calendar category.",
        "operationId": "Calendar_CreateCategory",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoryResourceModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Calendar"
        ],
        "summary": "Delete a calendar category.",
        "operationId": "Calendar_DeleteCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CategoryResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events/filter": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get calendar events in a specified date range",
        "operationId": "Calendar_GetFilteredEvents",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventDatesBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EventResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/callcenter/events/filter": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get calendar events in a specified date range",
        "operationId": "Calendar_GetCallCenterFilteredEvents",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventDatesBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EventResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get all calendar events for a company",
        "operationId": "Calendar_GetEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EventResourceModel"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Calendar"
        ],
        "summary": "Update a calendar event and send an email to all resources listed if sendEmail is set to true.",
        "operationId": "Calendar_UpdateEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventViewModel"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Create a calendar event and send an email to all resources listed if sendEmail is set to true.",
        "operationId": "Calendar_CreateEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventViewModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Calendar"
        ],
        "summary": "Delete a calendar event.",
        "operationId": "Calendar_DeleteEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventViewModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events/exception": {
      "put": {
        "tags": [
          "Calendar"
        ],
        "summary": "Updates an exception (only) to a CalendarEvent",
        "operationId": "Calendar_UpdateEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralEventExceptionBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventViewModel"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Creates an Exception to a Recurring CalendarEvent",
        "operationId": "Calendar_CreateEventException",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralEventExceptionBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventViewModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events/move": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Moves a Calendar Event to a new datetime",
        "operationId": "Calendar_MoveEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events/reschedule": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Reschedule a Calendar Event to a new datetime and/or resource",
        "operationId": "Calendar_RescheduleEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RescheduleEventBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/events/sales/mapped": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "summary": "Updates Salespeople for a Sales Appointment",
        "operationId": "Calendar_UpdateMappedSalesAppointmentEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/resources": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get all calendar resources for a company",
        "operationId": "Calendar_GetResources",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ResourcesResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/resources/color": {
      "put": {
        "tags": [
          "Calendar"
        ],
        "summary": "Inserts or Updates a Resource Color",
        "operationId": "Calendar_UpdateResourceColor",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourcesResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/userPrefs": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get all calendar user preferences for an employee",
        "operationId": "Calendar_GetUserPrefs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserPrefResourceModel"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Calendar"
        ],
        "summary": "Update a calendar user preference for an employee.",
        "operationId": "Calendar_UpdateUserPref",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserPrefBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserPrefResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyid}/calendar/eventContact": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "Calendar_GetEventContact",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/companies/{companyId}/calendar/permissions": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "Calendar_GetPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve a company",
        "operationId": "Company_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyBindingModel"
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve all companies for a database",
        "operationId": "Company_GetCompanies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SharedCompanyEmployeeResourceModel"
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieve a contact",
        "operationId": "Contact_GetContactById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResourceModel"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts/filter": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Filter for contacts",
        "operationId": "Contact_FilterContacts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResourceModel"
              }
            }
          }
        }
      }
    },
    "/contacts/search2": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Search for contacts.",
        "description": "If \"numberOfRecords\" is not specified when making a request a default of up to 100 records will be returned.",
        "operationId": "Contact_CallCenterSearchContacts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactSearchBindingModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MultiCompanyContactSearchResult"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts/search": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Search for contacts",
        "description": "QuickFind Contact Search. Employee id required in bearer token",
        "operationId": "Contact_SearchContacts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactSearchBindingModel"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactSearchResult"
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts/{contactId}/attachments": {
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Replace an attachment - Deprecated",
        "operationId": "Contact_ReplaceAttachment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Upload an attachment",
        "operationId": "Contact_UploadAttachment",
        "consumes": [
          "application/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
[...]
